html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.nav-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 20px;
}
.nav-logo {
  display: inline-block;
  height: 52px;
  width: 26px;
  background-image: url("./assets/Asset-2@3x.png");
  background-size: cover;
  background-position: center;
}
.nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: #1a3a1c;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 20px;
}
nav a {
  color: #1a3a1c;
  text-decoration: none;
  font-size: .9rem;
  transition: color 0.2s ease-in-out;
}
nav a:hover {
  color: #000000;
}

.hero-image {
  background-image: url("./assets//hero-image.png");
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.hero-image:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.hero-content {
  text-align: center;
  z-index: 2;
}
.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.hero-content p {
  font-size: 1rem;
  margin-bottom: 3rem;
}
.cta-button {

  padding: 1rem 2.5rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: #3d5d3e;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.cta-button:hover {
  background-color: #172c17;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f6f2ea;
}

.intro h2 {
  font-size: 30px;
  margin-bottom: 0px;
  flex-basis: 100%;
  text-align: center;
}

.intro p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  max-width: 600px;
  flex-basis: 80%; 
  margin-right: 20px;
}

.intro .avatar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 20%;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plants-section {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.plants-section h2 {
  text-align: center;
  margin: 0;
}

.plants-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.plant-row {
  border: 0;
  margin: 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.plant-row img {
  height: 35rem;
  width: 35%;
}

.plant-row-content {
  width: 40%;
  margin-top: -8.5rem;
}

.plant-row-content p {
  width: 75%;
  margin-bottom: 2rem;
}

.footer {
  background-color: #313232;
  text-align: center;
  color: #fefefe;
  clear: left;
  padding-top: 3rem;
  padding-bottom: 1.9rem;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left {
  flex-basis: 40%;
}

.footer-left img {
  width: 15%;
  margin-bottom: 1rem;
}

.contact-info {
  font-size: 16px;
  line-height: 1.6;
}

.social-media-links a {
  color: #ffffff;
  font-size: 24px;
  margin-right: 15px;
}

.footer-right {
  flex-basis: 50%;
}

.footer-right h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.footer-copyright {
  width: 100%;
  text-align: center;
}
